@use './partials/variables' as *;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Generics
body{
    font-family: $font;
}

.container{
    width: 1400px;
    margin: 0 auto;
}


