@use './partials/variables' as *;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Generics
body{
    font-family: $font;
    height: 100vh;
}

.container{
    width: 1400px;
    margin: 0 auto;
    height: $h100;
}

/* Utils */
img{
    max-width: 100%;
    height: auto;
}


